name: continuous-integration
on: push

defaults:
  run:
    shell: pwsh

jobs:
  test:
    runs-on: windows-latest
    steps:
      - name: Fetch sources
        uses: actions/checkout@v6
      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10
      - name: Set up PowerShell
        run: |
          Push-Location var
          Invoke-WebRequest "https://aka.ms/install-powershell.ps1" -OutFile Install-PowerShell.ps1
          ./Install-PowerShell.ps1 -UseMSI
          Pop-Location
          pwsh --version
      - name: Install dependencies
        run: ./Invoke.ps1 Install
      - name: Run tests
        run: ./Invoke.ps1 Test
