name: continuous-integration
on: push

defaults:
  run:
    shell: pwsh

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch sources
        uses: actions/checkout@v6
      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10
      - name: Set up PowerShell
        shell: bash
        run: |
          wget --output-document=var/PowerShell.deb --quiet "https://github.com/PowerShell/PowerShell/releases/download/v7.5.4/powershell_7.5.4-1.deb_amd64.deb"
          sudo apt-get --assume-yes --quiet install ./var/PowerShell.deb
      - name: Install dependencies
        run: ./Invoke.ps1 Install
      - name: Run tests
        run: ./Invoke.ps1 Test
